.contact {
  margin-bottom: 110px;
}

.contact .grid {
  display: grid;
  grid-template-columns: 40% 60%;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid var(--ligth-blue);
}

.contact .grid .image {
  position: relative;
}

.contact .grid .image::after {
  content: "";
  background: rgb(0, 0, 0);
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  position: absolute;
  inset: 0;
}

.contact .grid .image img {
  max-width: 100%;
  height: 678px;
  object-fit: cover;
  object-position: 78%;
}

.contact .image .text {
  font-weight: 600;
  font-size: 30px;
  line-height: 34px;
  position: absolute;
  bottom: 42px;
  left: 42px;
  color: white;
  z-index: 1;
}

.contact .form-container {
  padding: 55px;
}

.contact .form-container .form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.contact .form-container .form .form-group.form-group--two-columns {
  grid-column: 1/3;
}

.contact .form-container .form .form-group .form-input {
  padding: 24px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  color: var(--placeholder);
  line-height: 20px;
  border: 1px solid var(--dark-grey);
  border-radius: 4px;
  box-sizing: border-box;
}

.contact .form-container .form .form-group [type="checkbox"] {
  min-width: 18px;
  min-height: 18px;
}

.contact .form-container .form .form-group.form-label {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}

.contact .form-container .form .form-group label {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

.contact .form-container .form .form-group label a {
  color: var(--secondary-color);
}

.contact .form-container .form .form-group .send-msg {
  display: flex;
  gap: 10px;
  align-items: center;
  border: 0;
  border-radius: 80px;
  background-color: var(--terciary-color);
  color: white;
  padding: 18px 36px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 30px;
}
