.nav .nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 35px;
  padding: 0;
  margin: 0;
}

.nav .nav-list .nav-list-item .nav-list-item-link {
  color: var(--white);
  text-decoration: none;
}

.nav .nav-list .nav-list-item .nav-list-item-link--cta {
  background-color: var(--primary-color);
  padding: 15px 27px;
  border-radius: 16px;
  border-width: 0px;
}
