.services .title {
  background-color: var(--ligth-blue);
  color: var(--terciary-color);
  line-height: 1px;
  margin-bottom: 50px;
}

.services {
  border-bottom: 1px solid var(--ligth-blue);
  margin-bottom: 90px;
}

.services .title span {
  background-color: white;
  padding: 0 40px;
}

.services .container {
  display: flex;
  justify-content: space-between;
}

.services .icons {
  display: flex;
  font-size: 30px;
  gap: 20px;
  margin-bottom: 50px;
  align-items: center;
}
.services .icons p {
  margin: 0;
}

.services .icons img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
