.services .title {
  background-color: var(--ligth-blue);
  color: var(--terciary-color);
  line-height: 1px;
}

.services .title span {
  background-color: white;
  padding: 0 40px;
}

.services .icons {
  display: flex;
  justify-content: space-between;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.grid-item {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
